html {
    height: 100%;
  }
  body {
    
    font-family: sans-serif;
    
    background: url(1.jpeg);
  }
  
  header{

    width: 40%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 31%;
    background: rgba(14, 13, 13, 0.2);
    
    
  }
 header .L{
font-size: 30px;
font-weight: bold;
color: #38210a;
letter-spacing: 2px;
cursor: pointer;


  }
nav li{
    display:inline-block;
    list-style: none;
    padding: 0px 20px;
}
a,button{

    font-size: 20px;
    font-weight: 500;
    color:#38210a;
    text-decoration: none;
    cursor: pointer;
}

button{
    background: #504d4d;
    border: 2px solid #38210a;
    border-radius: 10px;
    padding: 9px 25px;
}
nav li a:hover {

    color:rgb(216, 120, 31);
    transition: all ;
    transition: 0.3s
}
.L:hover{
    color:rgb(216, 120, 31);
    transition: all ;
    transition: 0.3s

}

  
  .login-box {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(245, 242, 239, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(15, 15, 15, 0.6);
    border-radius: 40px;
  }
  
  .login-box h2 {
    margin:auto;
    padding: 10%;
    color: #db6809;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #0c0909;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #0f0a0a;
    outline:auto;
    background: transparent;

    
   
  }
  .login-box .user-box label {
    position: absolute;
    top: 0px;
    left: 0;
    padding: 10px 0;
    font-size: 17px;
    color: #050404;
    transition: 0.5s;

  }

   .user-box input:focus ~ label,
   .user-box input:valid ~ label {
    top: -35px;
    left: 0;
    right: 20px;
    color: #db6809;
    font-size: 18px;
  }
  


 
  
  
  

  
  
  
  
  